.Container p{
    font-size: 25px;
    color: #c0c0c0;
    padding-left: 30px;
}

.Line{
    color: #c0c0c0;
    width: 80%;
}

.Cast {
    font-size: 35px;
    color: #c0c0c0;
    padding-left: 30px;
}

